<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="Asciidoctor 2.0.12">
<title>[{{project}}] {{fromTag}} release - {{todayDate}}</title>
</head>
<body class="book">
<div id="header">
</div>
<div id="content">
<div class="sect1">
<div class="sectionbody">
<div class="paragraph">
<p>Hello all.</p>
</div>
<div class="paragraph">
<p>This is the <b>{{fromTag}}</b> release information mail for <b>{{project}}</b> assignment.</p>
</div>
<div class="paragraph">
<p>Updates can be found on the <a href="{{jiraURL}}">{{ticketID}}</a> ticket.</p>
</div>
<div style="background-color:rgb(234, 234, 234, 0.95); ">
<div style="padding: 10px;">
{{ticketDescription}}
</div>
</div>
<div class="paragraph">
<p>Thank you.</p>
</div>
<div class="paragraph">
<p>-{{leader}}-</p>
</div>
</div>
</div>
</div>
</body>
</html>